<p><strong>Instructor</strong>: Eric Van Dusen (<a href="mailto:ericvd@berkeley.edu">ericvd@berkeley.edu</a>)</p>
<p><strong>Lecture</strong>: Tue 2pm-4pm in 150 GSPP</p>

<h2>Calendar</h2>

<table class="calendar">
  <thead>
    <tr>
      <td class="header">Date</td>
      <td class="header">Lecture</td>
      <td class="header">Materials</td>
      <td class="header">Assignment</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calendarItem of calendarItems" d8a88-calendar-item [calendarItem]="calendarItem"></tr>
  </tbody>
</table>

<p style="text-align: right; padding-top: 5px;">Note: Topics and dates are subject to change.</p>
