html {
  font-weight: 300;
}

body {
  /*padding-top: 50px;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2:nth-of-type(1) {
  margin-top: 20px;
}

h3 {
  font-size: 20px;
}

a.anchor-link {
  display: none;
}


/* Course List Styles */

table.listing {
  width: 100%;
}

td.listing-icons {
  text-align: right;
  font-size: 25px;
}

td.listing-icons a, td.listing-icons a:hover,
td.listing-icons a:visited, td.listing-icons a:link {
  color: black;
}

td.listing-icons i.fa-external-link-alt {
  font-size: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
}

td.listing-icons a:hover {
  text-decoration: none;
}

td.listing-icons i {
  padding: 0 5px;
}

ul#featured-courses {
  margin-bottom: 90px;
}

/* From Bootstrap */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}